www/soapws_wsdl/SoapServer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://weatherpi/soap_wsdl/" name="SoapServer" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://wsdl.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://weatherpi/soap_wsdl/" schemaLocation="SoapServer_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getWindSpeed">
    <part name="parameters" element="tns:getWindSpeed"/>
  </message>
  <message name="getWindSpeedResponse">
    <part name="parameters" element="tns:getWindSpeedResponse"/>
  </message>
  <message name="getWindDirection">
    <part name="parameters" element="tns:getWindDirection"/>
  </message>
  <message name="getWindDirectionResponse">
    <part name="parameters" element="tns:getWindDirectionResponse"/>
  </message>
  <message name="getTemperature">
    <part name="parameters" element="tns:getTemperature"/>
  </message>
  <message name="getTemperatureResponse">
    <part name="parameters" element="tns:getTemperatureResponse"/>
  </message>
  <message name="getHumidity">
    <part name="parameters" element="tns:getHumidity"/>
  </message>
  <message name="getHumidityResponse">
    <part name="parameters" element="tns:getHumidityResponse"/>
  </message>
  <portType name="SoapServer">
    <operation name="getWindSpeed">
      <input wsam:Action="http://wsdl.example.com/SoapServer/getWindSpeedRequest" message="tns:getWindSpeed"/>
      <output wsam:Action="http://wsdl.example.com/SoapServer/getWindSpeedResponse" message="tns:getWindSpeedResponse"/>
    </operation>
    <operation name="getWindDirection">
      <input wsam:Action="http://wsdl.example.com/SoapServer/getWindDirectionRequest" message="tns:getWindDirection"/>
      <output wsam:Action="http://wsdl.example.com/SoapServer/getWindDirectionResponse" message="tns:getWindDirectionResponse"/>
    </operation>
    <operation name="getTemperature">
      <input wsam:Action="http://wsdl.example.com/SoapServer/getTemperatureRequest" message="tns:getTemperature"/>
      <output wsam:Action="http://wsdl.example.com/SoapServer/getTemperatureResponse" message="tns:getTemperatureResponse"/>
    </operation>
    <operation name="getHumidity">
      <input wsam:Action="http://wsdl.example.com/SoapServer/getHumidityRequest" message="tns:getHumidity"/>
      <output wsam:Action="http://wsdl.example.com/SoapServer/getHumidityResponse" message="tns:getHumidityResponse"/>
    </operation>
  </portType>
  <binding name="SoapServerPortBinding" type="tns:SoapServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getWindSpeed">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getWindDirection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTemperature">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getHumidity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SoapServer">
    <port name="SoapServerPort" binding="tns:SoapServerPortBinding">
      <soap:address location="http://weatherpi/soapws_wsdl/server.php"/>
    </port>
  </service>
</definitions>
